.navContainer{
  display: flex;
  flex-direction: row;
  background-color: #242424;
  border-bottom: 1px solid white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  align-items: center;
  justify-content: space-evenly;
}
.navText{
  margin-right: 15px;
  font-size: 25px;
  margin: 20px;
}
